body {font-family: Arial, Helvetica, sans-serif}
* {box-sizing: border-box;}
*{background-color: black;}

h2{
  font-family: 'Babylonica', cursive;
  text-align: center;
  font-size: 80px;
  margin: 0%;
  color: #f2f2f2;
}

.bg-img {
  /* The image used */
  background-image:url("pics_dsn/unsplash_KMn4VEeEPR8.jpg");
  min-height: 550px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container_navbar {
  position: absolute;
  margin: 20px;
  width: auto;
  opacity: 60%;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/* Navbar links */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 22px 22px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  /*background-color: #ddd;*/
  color: rgb(133, 133, 133);
  padding-top: 1%;
  transition-duration: 0.2s;
}

.about-sec{
  color: #f2f2f2;
  margin:0%

}
.about-sec h3{
  text-align: center;
  margin: 2%;
  font-size: 50px;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;  
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/*flip box*/
 /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
} 
/*flip box*/


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 500px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/
.flexbox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 100px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.search2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #feffff;
  border-right: none;
  padding: 10px;
  height: 50px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #9DBFAF;
  font-size: 20px;
}

.searchTerm:focus{
  color: #0b0b0b;
}

.searchButton {
  width: 60px;
  height: 50px;
  border: 5px solid #f8f5f5;
  background: #f5f3f3;
  text-align: center;
  color: black;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 100px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  justify-content: center;
  align-items: center;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

/*card slider*/

/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  position: relative;
}

body::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #FF676D;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:	#FF676D;
  color: #fff;
}*/

.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
  margin-left: 20%;
}
.container h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  border-radius: 12px;
}
.cards .card .content .img{
  height: 300px;
  width: 290px;
  padding: 10px;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
/*.card .content .name{
  font-size: 20px;
  font-weight: 500;
}*/
.card .content .place{
  font-size: 20px;
  color: #FF676D;
}
/*.card .content .media-icons{
  margin-top: 10px;
  display: flex;
}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #FF676D;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #FF676D;
  background-color: #fff;
  border-color: #FF676D;
}
*/
.container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}
/*card slider*/


/*footer*/
.footer-basic {
  margin-left: 8%;
  margin-top: 10%;
  background-color:#ffffff;
  color:#4b4c4d;
  border-color: white;
}

/*.footer-basic ul {
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}
*/
.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:0.5px;
  text-align:center;
  font-size:20px;
  color:#aaa;
  margin-bottom:0;
/*  color:#ff0000; 
  font-size:14px;*/
}

/*footer*/
